<div class="container-fluid club_create" id="club_create">
    <header class="" id="upload_container">

        <a id="logo_img" style="background-image:url('static/app/img/icons/Group.png')"></a>
        <p>添加俱乐部徽章</p>
        <p class="radius_line"><span class="radius"></span></p>
        <a class="edit" ng-click="bg_img_set()"><span class="glyphicon glyphicon-edit"></span></a>
    </header>
    <form name="new_club" method="post" class="m_form" ng-submit="submit()">
        <fieldset>

            <label class="m_label">俱乐部名称</label>
            <input name="name" class="m_input" type="text" placeholder="俱乐部名称"
                   ng-model="club.name"  ng-trim="true" ng-required="true" ngMinlength="1">

            <label class="m_label">运动项目标签</label>
            <!--<input name="category" class="m_input" type="text" placeholder="请选择运动项目"-->
                   <!--ng-click="category_pick()" ng-model="club.tags"  ng-trim="true" ng-required="true" ngMinlength="1">-->
            <p class="m_line" ng-click="category_pick()">
                {{club.tags}}
            </p>
            <input class="next" type="submit" value="完成">
        </fieldset>
    </form>
</div>
<script type="text/ng-template" id="band_qq">
    <div class="alert_card">
        <p>绑定QQ请选绑定按钮</p>
        <p class="btns">
            <a class="cancel" ng-click="closeThisDialog()">取消</a>
            <a class="finish" ng-click="closeThisDialog(1)">绑定</a>
        </p>
    </div>
</script>
<script type="text/ng-template" id="tell_you">
    <div class="alert_card">
        <p>您已经创建过俱乐部，不能重复创建</p>
        <p class="btns">
            <a class="finish" ng-click="closeThisDialog('yes')" style="width: 100%;">确定</a>
            <!--<a class="finish" ng-click="closeThisDialog('no')">取消</a>-->
        </p>
    </div>
</script>