<div class="container-fluid" id="event_create">
    <div ng-include="alert_url"></div>
    <header ng-hide="update_page">
        <div class="club_info" ng-show="event.club">
            <h4 class="name">{{ event.club.name }}</h4>
            <a class="logo">
                <img src="{{ event.club.logo_url }}">
                <!--<img class="head_img" src="http://7s1srd.com1.z0.glb.clouddn.com/%40%2Fclub_logo_url%2F50">-->
            </a>
            <p class="tags">
                <!--<span ng-repeat="tag in event.club.tags">{{tag}}</span>-->
                {{event.club.tags}}
            </p><!--ng-show="wx_client"-->

        </div>
        <div class="add_club" ng-hide="event.club" ng-click="to_add_club()">
            <p class="plus">+</p>
            <a>您还没有俱乐部，请创建俱乐部后再发布活动 </a>
        </div>
    </header>
    <form name="new_event" method="post" class="m_form" ng-submit="submit()">
        <div class="cover" ng-show="cover_show"> </div>
        <fieldset>
            <input name="id" id="event_id" class="id" type="hidden" value="{{ event.id }}">

            <label class="m_label" style="margin: 5px 0px;">活动项目</label>
            <input name="category" class="m_input" type="button" style="text-align: left;" ng-click="category_pick()"
                   value="{{ event.category}}" ng-trim="true" ng-required="true" ngMinlength="1">
            <!-- 你好-->
            <label class="m_label" style="margin: 5px 0px;">活动名称</label>
            <input name="name" class="m_input" type="text" placeholder="活动名称(必填)"
                   ng-model="event.name" ng-change="checkNextEnable()" ng-trim="true" ng-required="true" ngMinlength="1">

            <label class="m_label" style="margin: 5px 0px;margin-bottom: 10px;">活动时间</label>
            <p class="time_type line">
                <a class="half_btn left " ng-class="{false: 'btn_selected'}[event.is_cycle]" ng-click="time_type_set(1)">单次活动</a>
                <a class="half_btn right" ng-class="{true: 'btn_selected'}[event.is_cycle]" ng-click="time_type_set(2)">
                    周期活动</a>
                <p class="days" ng-show="event.is_cycle">
                    <span class="" style="color: #4c4c4c;">活动周期：</span>[{{event.day_show}}]</p>
            <div class="form_control_line time">
                <span>开始时间</span>
                <a href class="value_selected" ng-click="set_start_time()" ng-show="isIos">
                    <span ng-hide="event.is_cycle">{{ event.start_time | date: 'yyyy-MM-dd HH:mm' }}</span>
                    <span ng-show="event.is_cycle">{{ event.start_time | date: 'HH:mm' }}</span>
                </a>
                <input name="start_time" id="start_time_in" class="start_time_input" type="datetime-local" ng-hide="event.is_cycle"
                       value="{{ event.start_time | date: 'yyyy-MM-dd HH:mm' }}" min="{{time_min}}" max="{{time_max}}"
                       ng-model="event.start_time" ng-change="start_time_change()" ng-class="{'true':'ios'}[isIos]">

                <input name="start_time" id="start_time_in1" class="start_time_input" type="time"
                       value="{{ event.start_time | date: 'HH:mm' }}" ng-show="event.is_cycle"
                       ng-model="event.start_time" ng-change="start_time_change()" ng-class="{'true':'ios'}[isIos]">
            </div>

            <div class="form_control_line time">
                <span >结束时间</span>
                <a href class="value_selected" ng-click="set_end_time()" ng-show="isIos">
                    <span ng-hide="event.is_cycle">{{ event.end_time | date: 'yyyy-MM-dd HH:mm' }}</span>
                    <span ng-show="event.is_cycle">{{ event.end_time | date: 'HH:mm' }}</span>
                </a>
                <input name="end_time" id="end_time_in" class="end_time_input" type="datetime-local" ng-hide="event.is_cycle"
                       value="{{ event.end_time | date: 'yyyy-MM-dd HH:mm' }}" min="{{time_min}}" max="{{time_max}}"
                       ng-model="event.end_time" ng-class="{'true':'ios'}[isIos]">

                <input name="end_time" id="end_time_in1" class="end_time_input" type="time" ng-show="event.is_cycle"
                       value="{{ event.end_time | date: 'HH:mm' }}"
                       ng-model="event.end_time" ng-class="{'true':'ios'}[isIos]">
            </div>

            <label class="m_label" style="margin: 5px 0px;">集合地点</label>
            <div class="location_line" ng-click="location_set()">
                <a class="location_icon"><span class="glyphicon glyphicon-map-marker"></span> </a>
                <input name="location" class="m_input" placeholder="点击编辑活动地点" ng-model="event.location.title">
            </div>

            <label class="m_label" style="margin: 5px 0px;">活动费用</label>
            <div class="line">
                <input name="fee" id="fee" class="fee_input" placeholder="本次活动费用" type="number"
                       ng-model="event.fee" ng-click="toggle_aa_set(1)" ng-class="{false: 'btn_selected'}[event.is_aa]">
                <a class="aa right" ng-class="{true: 'btn_selected'}[event.is_aa]" ng-click="toggle_aa_set(2)">AA制</a>
            </div>

            <div class="goushi_line row">
                <div class="left_part">
                    <label class="m_label" style="margin-bottom: 10px;">活动人数</label><br>
                    <input name="member_count_limit" type="number" placeholder="输入活动人数" ng-model="event.members_count_limit">
                </div>
                <div class="right_part">
                    <label class="m_label" style="margin-bottom: 10px;">场地号</label><br>
                    <input name="place_num" type="text" placeholder="输入场地号" ng-model="event.place_num">
                </div>
            </div>

            <label class="m_label" style="margin: 10px 0px;margin-bottom: 5px;"> 联系方式</label>
            <input name="phone" id="phone" class="m_input" placeholder="输入手机号" ng-model="event.mobile">

            <label class="m_label">备注</label>
            <textarea class="beizhu" ng-model="event.introduce">{{event.introduce}}</textarea>

            <label class="m_label" style="margin: 10px 0px;">发布到QQ群</label>

            <div class="publish">
                <p class="bind_qq" ng-click="bind_show()" ng-hide="qq_bind">
                    <a class="publish_btn">+</a>
                    <span class="place_holder">点击添加QQ群</span>
                </p>
                <ul class="qq_list">
                    <li class="" ng-repeat="cluster in clusters" ng-click="qq_select(cluster.external_id)">{{cluster.name}}:{{cluster.external_id}}
                        <a class="selected" ng-show="qq_selected(cluster.external_id)"><span class="glyphicon glyphicon-ok"></span></a>
                    </li>
                </ul>
            </div>

            <div class="submit_line">
                <input class="next btn_enable" type="submit" value="确定">
            </div>

        </fieldset>

    </form>

</div>
<script type="text/ng-template" id="band_qq">
    <div class="alert_card">
        <p>绑定QQ请选绑定按钮</p>
        <p class="btns">
            <a class="cancel" ng-click="closeThisDialog('no')">取消</a>
            <a class="finish" ng-click="closeThisDialog('yes')">绑定</a>
        </p>
    </div>
</script>

