<div class="container-fluid" id="event">
    <header class="page_header">
        <h5 class="title"><img src="/static/app/img/icons/{{event.category}}.png">{{event.category}}</h5>
        <p class="name">{{event.name}}</p>
        <p class="club">
            <img class="head_img" src="{{event.club.logo_url}}">
            {{event.club.name}}
            <a class="come_in_club" ng-click="to_club(event.club.id)">进入俱乐部<span class="glyphicon glyphicon-menu-right"></span> </a>
        </p>
    </header>
    <section class="event">
        <p class="member" ng-click="to_members()">
            <img class="icon" src="/static/app/img/icons/已报名队员.png">
            <span>已报名队员</span>
            <!--<ul>-->
                <!--<li>-->
                    <!--<img ng-repeat="member in members">-->
                <!--</li>-->
            <!--</ul>-->
            <span class="right glyphicon glyphicon-menu-right"></span>
        </p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{event.member_count}}"
                 aria-valuemin="0" aria-valuemax="{{event.member_count_limit}}"
                 style="width: {{event.percent}}">
            </div>
            <p class="progress_font">{{event.member_count}}/{{event.member_count_limit}}人</p>
        </div>
        <div class="ggg">
            <div class="left contact">
                <a href="tel:{{event.mobile}}">
                    <img src="/static/app/img/icons/电话信息.png"><br>
                    联系组织者
                </a>
            </div>
            <div class="right location_nav">
                <a href="#/navigate/{{event.id}}">
                    <img src="/static/app/img/icons/位置信息.png"><br>
                    场地导航
                </a>
            </div>
        </div>
        <div class="m_line">
            <h5 class="line_title"><img src="/static/app/img/icons/活动时间.png">
                <span>活动时间</span>
            </h5>
            <p class="value">{{event.start_time}}</p>
        </div>
        <div class="m_line">
            <h5 class="line_title"><img src="/static/app/img/icons/活动地点.png">
                <span>集合地点</span>
            </h5>
            <p class="value">{{event.venue.name}}</p>
        </div>
        <div class="m_line">
            <h5 class="line_title"><img src="/static/app/img/icons/活动费用.png">
                <span>活动费用</span>
            </h5>
            <p class="value">{{event.fee}}</p>
        </div>
        <div class="m_line">
            <h5 class="line_title"><img src="/static/app/img/icons/活动场地.png">
                <span>场地号</span>
            </h5>
            <p class="value">{{event.place_num}}</p>
        </div>
        <div class="submit_line">
            <a class="btn_disable1" ng-show="canceled">活动已经取消</a>
            <a class="next" ng-show="cancel_enable" ng-click="cancel()">取消活动</a>
            <a class="next" ng-show="join_enable" ng-click="join()">报名</a>
            <a class="next" ng-show="exit_enable" ng-click="exit()">取消报名</a>
        </div>
    </section>
    <!--<section class="contact_manager">-->
        <!--<p class="tip">请长按以下号码拨打电话</p>-->
        <!--<p class="phone">{{event.phone}}</p>-->
    <!--</section>-->
</div>